<img style="width:450px;" src="https://durhamcollege.ca/wp-content/uploads/ai-hub-header.jpg" alt="DC Logo"/>

# LESSON 11 - Part A - Decision Trees

## <span style="color: green">OVERVIEW</span>

- ref: http://benalexkeen.com/decision-tree-classifier-in-python-using-scikit-learn/
- dataset: https://www.kaggle.com/c/titanic/data

>**Step 1:** <a href="#Step-1:-Data-Pre-processing">Data pre-processing</a>

>**Step 2:** <a href="#Step-2:-Create-the-model">Create the Model</a>

>**Step 3:** <a href="#Step-3:-Train-the-model">Train the Model</a>

>**Step 4:** <a href="#Step-4:-Test-the-model">Test the Model</a>

## <span style="color: green">Part A</span>


### <span style="color: blue">Decision Trees</span>

Decision Trees can be used as classifier or regression models.

In general, a tree structure is constructed that breaks the dataset down into smaller subsets eventually resulting in a prediction. There are decision nodes that partition the data and leaf nodes that provide the prediction that can be followed by traversing simple IF..AND..AND..THEN logic down the nodes.

<img src="https://upload.wikimedia.org/wikipedia/commons/f/f3/CART_tree_titanic_survivors.png"/>

<hr />

The root node (aka.the first decision node) partitions the data based on the most influential feature.

There are 2 measures for this, <b>Entropy</b> and <b>Gini Impurity</b>.

<hr />

### Entropy
The root node (the first decision node) partitions the data using the feature that provides the most information gain.

Information gain tells us how important a given attribute of the feature vectors is.

<b>It is calculated as:</b>

>$$\text{Information Gain} = \text{entropy(parent)} – \text{[average entropy(children)]}$$

<b>Where entropy is a common measure of target class impurity, given as:</b>

>$$Entropy = \Sigma_i – p_i \log_2 p_i$$

><i>Where i is each of the target classes.</i>

<hr />

### Gini Impurity
Gini Impurity is another measure of impurity and is calculated as follows:

>$$Gini = 1 – \Sigma_i p_i^2$$
><i>Where i is each of the target classes.</i>

Gini impurity is computationally faster as it doesn’t require calculating logarithmic functions.
Though in reality which of the two methods is used rarely makes too much of a difference.

### Predicting Survival in the Titanic Data Set
We’ll be using a decision tree to make predictions about the Titanic data set from Kaggle. This data set provides information on the Titanic passengers and can be used to predict whether a passenger survived or not.

<hr />

### Step 1: <span style="color:#27ae60">Data Pre-processing</span>

>**Recall:** Data pre-processing is the step that comes before creating, training, and testing our model by cleaning the data and preparing it for consumption by our model. No model is a good model without only the best data!

In [9]:
import pandas as pd

df = pd.read_csv('train.csv', index_col='PassengerId')

<b>Lets take a look at the data-frame we just created so that we can select the attributes we would like to use for our refined classification model (a Decision Tree).</b>

In [10]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

<hr />

<b>We will be using Pclass, Sex, Age, SibSp (Siblings aboard), Parch (Parents/children aboard), and Fare to predict whether a passenger survived.</b>

In [11]:
# go ahead and re-assign the dataframe we created to only include the features listed above
# e.g. if we wanted only Sex, we'd do something like df = df[['Sex']]

# type your code here
# df = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Survived']]

# print out the first 5 items of the dataframe to make sure we're on the right track!
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

<hr />

<b>We need to convert ‘Sex’ into an integer value of 0 or 1.</b>

In [13]:
# let's use pandas' built in map function to turn all the 'male' instances to 0 and all the 'female' instances to 1
# e.g. if you were to do this for handedness, it would look something like:
#      df['handedness'] = df['handedness'].map({ 'right': 0, 'left': 1 })

# type your code here
# df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

# print out the first 5 items of the dataframe to make sure we're on the right track!
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

<hr />

<b>We will also drop any rows with missing values.</b>

>Missing values are bad as they tend to screw up our classifier. We don't want anything getting in the way of our super talented model!

The data (X) is all our records, and the labels (y) are the corresponding classes (survived or not).

In [121]:
df = df.dropna()

X = df.drop('Survived', axis=1)
y = df['Survived']

<hr />

Now, we're going to want to split our dataset into training and testing instances. Remember, for both training and testing, we need data and labels.

In [122]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

<hr/>

### Step 2: <span style="color:#27ae60">Create the model</span>

Lets initialize our model so we can take a look at it's attributes.

In [123]:
from sklearn import tree

model = tree.DecisionTreeClassifier()

In [124]:
# Displays the model attributes
model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

<hr />

### Step 3: <span style="color:#27ae60">Train the model</span>

Defining some of the attributes like *max_depth*, *max_leaf_nodes*, *min_impurity_split*, and *min_samples_leaf* can help prevent overfitting the model to the training data.

<i>First we fit our model using our training data.</i>

In [125]:
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

<hr />

### Step 4: <span style="color:#27ae60">Test the model</span>

<b>Then we score the predicted output from model on our test data against our ground truth test data.</b>

In [126]:
y_predict = model.predict(X_test)

from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_predict)

0.83240223463687146

<hr />

<b>We see an accuracy score of ~81.01%, which is significantly better than 50/50 guessing.

Let’s also take a look at our confusion matrix:</b>

In [127]:
from sklearn.metrics import confusion_matrix

pd.DataFrame(
    confusion_matrix(y_test, y_predict),
    columns=['Predicted Not Survival', 'Predicted Survival'],
    index=['True Not Survival', 'True Survival']
)

                   Predicted Not Survival  Predicted Survival
True Not Survival                      98                  14
True Survival                          16                  51

<hr />

OPTIONAL
Download the Graphviz tool to visualize the data.
https://graphviz.gitlab.io/download/

In [128]:
#tree.export_graphviz(model.tree_, out_file='tree.dot', feature_names=X.columns)

We can then convert this dot file to a png file.

In [130]:
#from subprocess import call

#call(['dot', '-T', 'png', 'tree.dot', '-o', 'tree.png'])

We can then view our tree, which will look something similar this:

<img src="http://benalexkeen.com/wp-content/uploads/2017/05/tree.png" alt="Decision Tree" />

<hr />

The root node, with the most information gain, tells us that the biggest factor in determining survival is Sex.

If we zoom in on some of the leaf nodes, we can follow some of the decisions down.

We have already zoomed into the part of the decision tree that describes males, with a ticket lower than first class, that are under the age of 10.

<img src="http://benalexkeen.com/wp-content/uploads/2017/05/tree_leaf_node.png" alt="Leaf Node" />

The impurity is the measure as given at the top by Gini, the samples are the number of observations remaining to classify and the value is the how many samples are in class 0 (Did not survive) and how many samples are in class 1 (Survived).

<hr />

<b>Let’s follow this part of the tree down, the nodes to the left are True and the nodes to the right are False:</b>

1. We see that we have 19 observations left to classify: 9 did not survive and 10 did.
2. From this point the most information gain is how many siblings (SibSp) were aboard.

        A. 9 out of the 10 samples with less than 2.5 siblings survived.
        B. This leaves 10 observations left, 9 did not survive and 1 did.
    
3. 6 of these children that only had one parent (Parch) aboard did not survive.
4. None of the children aged > 3.5 survived
5. Of the 2 remaining children, the one with > 4.5 siblings did not survive.