<img style="width:450px;" src="https://durhamcollege.ca/wp-content/uploads/ai-hub-header.jpg" alt="DC Logo"/>

# LESSON 10 - Gaussian Naive Bayes

## <span style="color: green">OVERVIEW</span>

- ref: http://dataaspirant.com/2017/02/20/gaussian-naive-bayes-classifier-implementation-python/

Notes:
   - Please include the data dictionary in this document so students can understand what the data looks like
   - Please include pictures wherever you feel there is too much text to break things up a bit
   - Do not include all the steps for the data understanding step. Although it is very important, there is an excessive amount of this data description in the tutorial, only include the ones which you feel are necessary. Make sure you note to the students that it is important to understand the data to the best of their ability before moving forward.
   
This is a link to the publicly available data set for this lesson. ('adult.data')
   
   - https://archive.ics.uci.edu/ml/datasets/Adult

In this post, we are going to implement the Naive Bayes classifier in Python using the machine learning library scikit-learn. After which, we are going to use the trained Naive Bayes (supervised classification), model to predict the Census Income.

Let's quickly go over the basics of Naive Bayes:

Bayesâ€™ theorem is based on <b>conditional probability</b>. The conditional probability helps us calculating the probability that something will happen, given that something else has already happened. Not getting letâ€™s understand with few examples.

### Conditional Probability Examples

Below are the few examples helps to clearly understand the definition of conditional probability.

- Purchasing mac book when you already purchased the iPhone.
- Having a refreshing drink when you are in the movie theater.
- Buying peanuts when you brought a chilled soft drink.

<img style="width:350px;" src="https://i2.wp.com/dataaspirant.com/wp-content/uploads/2017/02/Conditional_probability.jpg?w=500" alt="Conditional Probability" />

Using the Bayes theorem the naive Bayes classifier works. The naive Bayes classifier assumes all the features are independent to each other. Even if the features depend on each other or upon the existence of the other features. Naive Bayes classifier considers all of these properties to independently contribute to the probability that the user buys the  MacBook.

To learn the key concepts related to Naive Bayes. You can read our article on Introduction to Naive Bayes. This will help you understand the core concepts related to Naive Bayes.

In the introduction to Naive Bayes post, we discussed three popular Naive Bayes algorithms:

- Gaussian Naive Bayes,
- Multinomial Naive Bayes.
- Bernoulli Naive Bayes.
As a continues to the Naive Bayes algorithm article. Now we are going to implement Gaussian Naive Bayes on a â€œCensus Incomeâ€ dataset.

### Gaussian Naive Bayes
A Gaussian Naive Bayes algorithm is a special type of NB algorithm. Itâ€™s specifically used when the features have continuous values. Itâ€™s also assumed that all the features are following a gaussian distribution i.e, normal distribution.

### Census Income Dataset
Census Income dataset is to predict whether the income of a person >$50K/yr (greater than $50K/yr) or <=$50K/yr. The data was collected by Barry Becker from 1994 Census dataset.

This dataset was contributed to UCI repository, and Itâ€™s openly available at the link provided at the top of this lesson. The dataset consists of 15 columns of a mix of discrete as well as continuous data.

<table style="height: 296px; width: 602px; border-color: #000000; background-color: #ffffff;" border="1 px">
<tbody>
<tr style="height: 24px;">
<td style="width: 37px; height: 24px; text-align: center;"></td>
<td style="width: 146px; height: 24px; text-align: center;"><strong>Variable Name</strong></td>
<td style="width: 425px; height: 24px; text-align: center;"><strong>Variable Range</strong></td>
</tr>
<tr style="height: 29px;">
<td style="width: 37px; height: 29px; text-align: center;">1.</td>
<td style="width: 146px; height: 29px; text-align: center;">age</td>
<td style="width: 425px; height: 29px;">&nbsp;[17 â€“ 90]</td>
</tr>
<tr style="height: 87px;">
<td style="width: 37px; height: 87px; text-align: center;">2.</td>
<td style="width: 146px; height: 87px; text-align: center;">workclass</td>
<td style="width: 425px; height: 87px;">[â€˜State-govâ€™, â€˜Self-emp-not-incâ€™, â€˜Privateâ€™, â€˜Federal-govâ€™, â€˜Local-govâ€™, â€˜Self-emp-incâ€™, â€˜Without-payâ€™, â€˜Never-workedâ€™]</td>
</tr>
<tr style="height: 30px;">
<td style="width: 37px; height: 30px; text-align: center;">3.</td>
<td style="width: 146px; height: 30px; text-align: center;">fnlwgt</td>
<td style="width: 425px; height: 30px;">[77516- 257302]</td>
</tr>
<tr style="height: 12px;">
<td style="width: 37px; height: 12px; text-align: center;">4.</td>
<td style="width: 146px; height: 12px; text-align: center;">education</td>
<td style="width: 425px; height: 12px;">
<p class="">[â€˜Bachelorsâ€™, â€˜HS-gradâ€™, â€™11thâ€™, â€˜Mastersâ€™, â€˜9thâ€™, â€˜Some-collegeâ€™, â€˜Assoc-acdmâ€™, â€˜Assoc-vocâ€™, â€˜7th-8thâ€™, â€˜Doctorateâ€™, â€˜Prof-schoolâ€™, â€˜5th-6thâ€™, â€™10thâ€™, â€˜1st-4thâ€™, â€˜Preschoolâ€™, â€™12thâ€™]</p>
</td>
</tr>
<tr style="height: 31px;">
<td style="width: 37px; height: 31px; text-align: center;">5.</td>
<td style="width: 146px; height: 31px; text-align: center;">education_num</td>
<td style="width: 425px; height: 31px;">[1 â€“ 16]</td>
</tr>
<tr style="height: 24px;">
<td style="width: 37px; height: 24px; text-align: center;">6.</td>
<td style="width: 146px; height: 24px; text-align: center;">marital_status</td>
<td style="width: 425px; height: 24px;">
<p class="">[â€˜Never-marriedâ€™, â€˜Married-civ-spouseâ€™, â€˜Divorcedâ€™, â€˜Married-spouse-absentâ€™, â€˜Separatedâ€™, â€˜Married-AF-spouseâ€™, â€˜Widowedâ€™]</p>
</td>
</tr>
<tr style="height: 24px;">
<td style="width: 37px; height: 24px; text-align: center;">7.</td>
<td style="width: 146px; height: 24px; text-align: center;">occupation</td>
<td style="width: 425px; height: 24px;">
<p class="">[â€˜Adm-clericalâ€™, â€˜Exec-managerialâ€™, â€˜Handlers-cleanersâ€™, â€˜Prof-specialtyâ€™, â€˜Other-serviceâ€™, â€˜Salesâ€™, â€˜Craft-repairâ€™, â€˜Transport-movingâ€™, â€˜Farming-fishingâ€™, â€˜Machine-op-inspctâ€™, â€˜Tech-supportâ€™, â€˜Protective-servâ€™, â€˜Armed-Forcesâ€™, â€˜Priv-house-servâ€™]</p>
</td>
</tr>
<tr style="height: 24px;">
<td style="width: 37px; height: 24px; text-align: center;">8.</td>
<td style="width: 146px; height: 24px; text-align: center;">relationship</td>
<td style="width: 425px; height: 24px;">
<p class="">[â€˜Not-in-familyâ€™, â€˜Husbandâ€™, â€˜Wifeâ€™, â€˜Own-childâ€™, â€˜Unmarriedâ€™, â€˜Other-relativeâ€™]</p>
</td>
</tr>
<tr style="height: 24px;">
<td style="width: 37px; height: 24px; text-align: center;">9.</td>
<td style="width: 146px; height: 24px; text-align: center;">race</td>
<td style="width: 425px; height: 24px;">
<p class="">[â€˜Whiteâ€™, â€˜Blackâ€™, â€˜Asian-Pac-Islanderâ€™, â€˜Amer-Indian-Eskimoâ€™, â€˜Otherâ€™]</p>
</td>
</tr>
<tr style="height: 24px;">
<td style="width: 37px; height: 24px; text-align: center;">10.</td>
<td style="width: 146px; height: 24px; text-align: center;">sex</td>
<td style="width: 425px; height: 24px;">
<p class="">[â€˜Maleâ€™, â€˜Femaleâ€™]</p>
</td>
</tr>
<tr style="height: 29px;">
<td style="width: 37px; height: 29px; text-align: center;">11.</td>
<td style="width: 146px; height: 29px; text-align: center;">capital_gain</td>
<td style="width: 425px; height: 29px;">[0 â€“ 99999]</td>
</tr>
<tr style="height: 28px;">
<td style="width: 37px; height: 28px; text-align: center;">12.</td>
<td style="width: 146px; height: 28px; text-align: center;">capital_loss</td>
<td style="width: 425px; height: 28px;">[0 â€“&nbsp;4356]</td>
</tr>
<tr style="height: 28px;">
<td style="width: 37px; height: 28px; text-align: center;">13.</td>
<td style="width: 146px; height: 28px; text-align: center;">hours_per_week</td>
<td style="width: 425px; height: 28px;">[1 â€“ 99]</td>
</tr>
<tr style="height: 24px;">
<td style="width: 37px; height: 24px; text-align: center;">14.</td>
<td style="width: 146px; height: 24px; text-align: center;">native_country</td>
<td style="width: 425px; height: 24px;">
<p class="">[â€˜United-Statesâ€™, â€˜Cubaâ€™, â€˜Jamaicaâ€™, â€˜Indiaâ€™, â€˜Mexicoâ€™, â€˜Southâ€™, â€˜Puerto-Ricoâ€™, â€˜Hondurasâ€™, â€˜Englandâ€™, â€˜Canadaâ€™, â€˜Germanyâ€™, â€˜Iranâ€™, â€˜Philippinesâ€™, â€˜Italyâ€™, â€˜Polandâ€™, â€˜Columbiaâ€™, â€˜Cambodiaâ€™, â€˜Thailandâ€™, â€˜Ecuadorâ€™, â€˜Laosâ€™, â€˜Taiwanâ€™, â€˜Haitiâ€™, â€˜Portugalâ€™, â€˜Dominican-Republicâ€™, â€˜El-Salvadorâ€™, â€˜Franceâ€™, â€˜Guatemalaâ€™, â€˜Chinaâ€™, â€˜Japanâ€™, â€˜Yugoslaviaâ€™, â€˜Peruâ€™, â€˜Outlying-US(Guam-USVI-etc)â€™, â€˜Scotlandâ€™, â€˜Trinadad&amp;Tobagoâ€™, â€˜Greeceâ€™, â€˜Nicaraguaâ€™, â€˜Vietnamâ€™, â€˜Hongâ€™, â€˜Irelandâ€™, â€˜Hungaryâ€™, â€˜Holand-Netherlandsâ€™]</p>
</td>
</tr>
<tr style="height: 13.5938px;">
<td style="width: 37px; height: 13.5938px; text-align: center;">15.</td>
<td style="width: 146px; height: 13.5938px; text-align: center;">income</td>
<td style="width: 425px; height: 13.5938px;">
<p class="">&nbsp;[â€˜&lt;=50Kâ€™, â€˜&gt;50Kâ€™]</p>
</td>
</tr>
</tbody>
</table>

The final target variable consists of two values: â€˜<=50Kâ€ & â€˜>50Kâ€™.

## Implementation of Gaussian NB on Census Income dataset
### Importing Python Machine Learning Libraries
We need to import pandas, numpy and sklearn libraries. From sklearn, we need to import preprocessing modules like Imputer. The Imputer package helps to impute the missing values.

In [4]:
# Required Python Machine learning Packages
import pandas as pd
import numpy as np

# For preprocessing the data
from sklearn.preprocessing import Imputer
from sklearn import preprocessing

# To split the dataset into train and test datasets
from sklearn.model_selection import train_test_split

# To model the Gaussian Navie Bayes classifier
from sklearn.naive_bayes import GaussianNB

# To calculate the accuracy score of the model
from sklearn.metrics import accuracy_score

The <b>train_test_split</b> module is for splitting the dataset into training and testing set. The <b>accuracy_score</b> module will be used for calculating the accuracy of our Gaussian Naive Bayes algorithm.

### Data Import
For importing the census data, we are using pandas <b>read_csv()</b> method. This method is a very simple and fast method for importing data.

We are passing four parameters. The â€˜adult.dataâ€™ parameter is the <b>file name</b>. The header parameter is for giving details to pandas that whether the first row of data consists of headers or not. In our dataset, there is no header. <i>So, we are passing None</i>.

The delimiter parameter is for giving the information the delimiter that is separating the data. Here, we are using â€˜ *, *â€™ delimiter. This delimiter is to show delete the spaces before and after the data values. This is very helpful when there is inconsistency in spaces used with data values.

In [5]:
#Loading the Dataset

adult_df = pd.read_csv('adult.data.txt',
                       header = None, delimiter=' *, *', engine='python')

adult_df = pd.read_csv('adult.data.txt',
                       header = None, delimiter=' *, *', engine='python')

Letâ€™s add headers to our dataframe. The below code snippet can be used to perform this task.

In [7]:
#Adding Headers
adult_df.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education_num',
                    'marital_status', 'occupation', 'relationship',
                    'race', 'sex', 'capital_gain', 'capital_loss',
                    'hours_per_week', 'native_country', 'income']

### Handling Missing Data
Letâ€™s try to test whether there is any null value in our dataset or not. We can do this using isnull() method.

In [8]:
#Finding Null values
adult_df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

The above output shows that there is no â€œnullâ€ value in our dataset.

Letâ€™s try to test whether any categorical attribute contains a â€œ?â€ in it or not. At times there exists â€œ?â€ or â€ â€ in place of missing values. Using the below code snippet we are going to test whether our adult_df data frame consists of categorical variables with values as â€œ?â€.

In [17]:
for value in ['workclass', 'education', 'marital_status', 'occupation', 'relationship','race', 'sex', 'native_country', 'income']:
    print(value, ":", sum(adult_df[value] == '?'))

workclass : 1836
education : 0
marital_status : 0
occupation : 1843
relationship : 0
race : 0
sex : 0
native_country : 583
income : 0

The output of the above code snippet shows that there are 1836 missing values in workclass attribute. 1843 missing values in occupation attribute and 583 values in native_country attribute.

### Data preprocessing
For preprocessing, we are going to make a duplicate copy of our original dataframe.We are duplicating adult_df to adult_df_rev dataframe.

In [18]:
adult_df_rev = adult_df

As we want to perform some imputation for missing values. Before doing that, we need some summary statistics of our dataframe. For this, we can use describe() method. It can be used to generate various summary statistics, excluding NaN values.

We are passing an â€œincludeâ€ parameter with value as â€œallâ€, this is used to specify that. we want summary statistics of all the attributes.

In [19]:
#Dataset basic statistics

adult_df_rev.describe(include= 'all')

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
count,32561.000000,32561,3.256100e+04,32561,32561.000000,32561,32561,32561,32561,32561,32561.000000,32561.000000,32561.000000,32561,32561
unique,NaN,9,NaN,16,NaN,7,15,6,5,2,NaN,NaN,NaN,42,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,22696,NaN,10501,NaN,14976,4140,13193,27816,21790,NaN,NaN,NaN,29170,24720
mean,38.581647,NaN,1.897784e+05,NaN,10.080679,NaN,NaN,NaN,NaN,NaN,1077.648844,87.303830,40.437456,NaN,NaN
std,13.640433,NaN,1.055500e+05,NaN,2.572720,NaN,NaN,NaN,NaN,NaN,7385.292085,402.960219,12.347429,NaN,NaN
min,17.000000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.000000,NaN,1.178270e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.000000,NaN,1.783560e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,48.000000,NaN,2.370510e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.000000,NaN,1.484705e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN

You check the basic statistics about the dataset after running the above command. You can spend some time here to get in details about each and ever stats provided.
### Data Imputation Step
Now, itâ€™s time to impute the missing values. Some of our categorical values have missing values i.e, â€œ?â€. We are going to replace the â€œ?â€ with the above describe methods top rowâ€™s value. For example, we are going to replace the â€œ?â€ values of workplace attribute with â€œPrivateâ€ value.

In [27]:
for value in ['workclass', 'education',
          'marital_status', 'occupation',
          'relationship','race', 'sex',
          'native_country', 'income']:
    adult_df_rev[value].replace(['?'], [adult_df_rev.describe(include='all')[value][2]],
                                inplace=True)

We have performed data imputation step. ğŸ™‚
You can check changes in dataframe by printing <i>adult_df_rev</i>

For naive Bayes, we need to convert all the data values in one format. We are going to encode all the labels with the value between 0 and n_classes-1.
### One-Hot Encoder
For implementing this, we are going to use LabelEncoder of scikit learn library. For encoding, we can also use the One-Hot encoder. It encodes the data into binary format.

In [28]:
le = preprocessing.LabelEncoder()
workclass_cat = le.fit_transform(adult_df.workclass)
education_cat = le.fit_transform(adult_df.education)
marital_cat   = le.fit_transform(adult_df.marital_status)
occupation_cat = le.fit_transform(adult_df.occupation)
relationship_cat = le.fit_transform(adult_df.relationship)
race_cat = le.fit_transform(adult_df.race)
sex_cat = le.fit_transform(adult_df.sex)
native_country_cat = le.fit_transform(adult_df.native_country)

In [29]:
#initialize the encoded categorical columns
adult_df_rev['workclass_cat'] = workclass_cat
adult_df_rev['education_cat'] = education_cat
adult_df_rev['marital_cat'] = marital_cat
adult_df_rev['occupation_cat'] = occupation_cat
adult_df_rev['relationship_cat'] = relationship_cat
adult_df_rev['race_cat'] = race_cat
adult_df_rev['sex_cat'] = sex_cat
adult_df_rev['native_country_cat'] = native_country_cat

In [30]:
#drop the old categorical columns from dataframe
dummy_fields = ['workclass', 'education', 'marital_status', 
                  'occupation', 'relationship', 'race',
                  'sex', 'native_country']
adult_df_rev = adult_df_rev.drop(dummy_fields, axis = 1)

Using the above code snippets, we have created multiple categorical columns like â€œmarital_catâ€, â€œrace_catâ€ etc. You can see the top 6 lines of the dataframe using adult_df_rev.head()
By printing the  adult_df_rev.head()  result. You will be able to see that all the columns should be reindexed. They are not in proper order. For reindexing the columns, you can use the code snippet provided below:

In [31]:
adult_df_rev = adult_df_rev.reindex_axis(['age', 'workclass_cat', 'fnlwgt', 'education_cat',
                                    'education_num', 'marital_cat', 'occupation_cat',
                                    'relationship_cat', 'race_cat', 'sex_cat', 'capital_gain',
                                    'capital_loss', 'hours_per_week', 'native_country_cat', 
                                    'income'], axis= 1)
 
adult_df_rev.head(1)

,age,workclass_cat,fnlwgt,education_cat,education_num,marital_cat,occupation_cat,relationship_cat,race_cat,sex_cat,capital_gain,capital_loss,hours_per_week,native_country_cat,income
0,39,6,77516,9,13,4,0,1,4,1,2174,0,40,38,<=50K

The output to the above code snippet will show you that all the columns are reindexed properly. I have passed the list of column names as a parameter and axis=1 for reindexing the columns.

### Standardization of Data
All the data values of our dataframe are numeric. Now, we need to convert them on a single scale. We can standardize the values.  We can use the below formula for standardization.

<img src="http://s0.wp.com/latex.php?latex=%7Bx%7D_i+%3D+%5Cfrac%7B%7Bx%7D_i+-+mean%28x%29%7D+%7B%5Csigma%28x%29%7D&bg=ffffff&fg=000&s=0" />

In [32]:
#Standardization of Data

num_features = ['age', 'workclass_cat', 'fnlwgt', 'education_cat', 'education_num',
                'marital_cat', 'occupation_cat', 'relationship_cat', 'race_cat',
                'sex_cat', 'capital_gain', 'capital_loss', 'hours_per_week',
                'native_country_cat']

scaled_features = {}
for each in num_features:
    mean, std = adult_df_rev[each].mean(), adult_df_rev[each].std()
    scaled_features[each] = [mean, std]
    adult_df_rev.loc[:, each] = (adult_df_rev[each] - mean)/std

We have converted our data values into standardized values. You can print and check the output of dataframe.

### Data Slicing
Letâ€™s split the data into training and test set. We can easily perform this step using sklearnâ€™s train_test_split() method.

In [34]:
features = adult_df_rev.values[:,:14]
target = adult_df_rev.values[:,14]
features_train, features_test, target_train, target_test = train_test_split(features, target, test_size = 0.33, random_state = 10)

Using above code snippet, we have divided the data into features and target set. The feature set consists of 14 columns i.e, predictor variables and target set consists of 1 column with class values.

The features_train & target_train consists of training data and the features_test & target_test consists of testing data.

### Gaussian Naive Bayes Implementation
After completing the data preprocessing. itâ€™s time to implement machine learning algorithm on it. We are going to use sklearnâ€™s GaussianNB module.

In [35]:
clf = GaussianNB()
clf.fit(features_train, target_train)
target_pred = clf.predict(features_test)

We have built a GaussianNB classifier. The classifier is trained using training data. We can use fit() method for training it. After building a classifier, our model is ready to make predictions. We can use predict() method with test set features as its parameters.

### Accuracy of our Gaussian Naive Bayes model
Itâ€™s time to test the quality of our model. We have made some predictions. Letâ€™s compare the modelâ€™s prediction with actual target values for the test set. By following this method, we are going to calculate the accuracy of our model.

In [36]:
accuracy_score(target_test, target_pred, normalize = True)

0.80141447980643965

Awesome! Our model is returning an <b>accuracy of 80%</b>. This is not bad with a simple implementation, and could easily be made more effective. You can create random test datasets and test the model to get know how well the trained Gaussian Naive Bayes model is performing.