<img style="width:450px;" src="https://durhamcollege.ca/wp-content/uploads/ai-hub-header.jpg" alt="DC Logo"/>

# LESSON 10b - Pre-Processing Continued

## <span style="color: green">OVERVIEW</span>
<p>
    This is a continuation of Lesson 11a; In which we will finish preparing our data for the Gaussian Naive Bayes model included in Scikit-Learn.
</p>

In [78]:
# This is to get all the code from before in this notebook 
# so you can continue without typing everything out again. 
# requirements.py should have been provided with this lesson.
%run requirements.py

### <span style="color: blue">Data Pre-Processing</span>
For preprocessing, we are going to make a duplicate copy of our original dataframe.We are duplicating adult_df to adult_df_rev dataframe. As we want to perform some imputation for missing values.

In [79]:
adult_df_rev = adult_df

Before doing that, we need some summary statistics of our dataframe. For this, we can use describe() method. It can be used to generate various summary statistics, excluding NaN values.

We are passing an ‚Äúinclude‚Äù parameter with value as ‚Äúall‚Äù, this is used to specify that we want summary statistics of all the attributes.

In [80]:
#Dataset basic statistics
adult_df_rev.describe(include= 'all')

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
count,32561.000000,32561,3.256100e+04,32561,32561.000000,32561,32561,32561,32561,32561,32561.000000,32561.000000,32561.000000,32561,32561
unique,NaN,9,NaN,16,NaN,7,15,6,5,2,NaN,NaN,NaN,42,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,22696,NaN,10501,NaN,14976,4140,13193,27816,21790,NaN,NaN,NaN,29170,24720
mean,38.581647,NaN,1.897784e+05,NaN,10.080679,NaN,NaN,NaN,NaN,NaN,1077.648844,87.303830,40.437456,NaN,NaN
std,13.640433,NaN,1.055500e+05,NaN,2.572720,NaN,NaN,NaN,NaN,NaN,7385.292085,402.960219,12.347429,NaN,NaN
min,17.000000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.000000,NaN,1.178270e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.000000,NaN,1.783560e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,48.000000,NaN,2.370510e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.000000,NaN,1.484705e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN


<hr />

After displaying the basic statistics about the dataset after running the above command. Spend some time looking at the details about each stat provided.

### <span style="color: blue">Data Imputation Step</span>
Now, it‚Äôs time to impute the missing values. Some of our categorical values have missing values i.e, ‚Äú?‚Äù. We are going to replace the ‚Äú?‚Äù with the above describe methods - top row's value. For example, we are going to replace the ‚Äú?‚Äù values of the workplace attribute with the ‚ÄúPrivate‚Äù value.

In [81]:
for value in ['workclass', 'education',
          'marital_status', 'occupation',
          'relationship','race', 'sex',
          'native_country', 'income']:
    adult_df_rev[value].replace(['?'], [adult_df_rev.describe(include='all')[value][2]],
                                inplace=True)

<hr />

You have successfully performed the data imputation step. üôÇ

In [82]:
# display and verify the changes in the adult_df_rev dataframe

<hr />

For Gaussian Naive Bayes, we need to convert all the data values in one format. We are going to encode all the labels with the value between 0 and n_classes-1.

### <span style="color: blue">One Hot Encoder</span>
We are going to use LabelEncoder from the scikit learn library to implement encoding.

One-Hot encoders, encode the data into a binary format.

<hr />

In [83]:
le = preprocessing.LabelEncoder()
workclass_cat = le.fit_transform(adult_df.workclass)
education_cat = le.fit_transform(adult_df.education)
marital_cat   = le.fit_transform(adult_df.marital_status)
occupation_cat = le.fit_transform(adult_df.occupation)
relationship_cat = le.fit_transform(adult_df.relationship)
race_cat = le.fit_transform(adult_df.race)
sex_cat = le.fit_transform(adult_df.sex)
native_country_cat = le.fit_transform(adult_df.native_country)

In [84]:
#initialize the encoded categorical columns
adult_df_rev['workclass_cat'] = workclass_cat
adult_df_rev['education_cat'] = education_cat
adult_df_rev['marital_cat'] = marital_cat
adult_df_rev['occupation_cat'] = occupation_cat
adult_df_rev['relationship_cat'] = relationship_cat
adult_df_rev['race_cat'] = race_cat
adult_df_rev['sex_cat'] = sex_cat
adult_df_rev['native_country_cat'] = native_country_cat

In [85]:
#drop the old categorical columns from dataframe
dummy_fields = ['workclass', 'education', 'marital_status', 
                'occupation', 'relationship', 'race',
                'sex', 'native_country']

adult_df_rev = adult_df_rev.drop(dummy_fields, axis = 1)

Using the above code snippets, we have created multiple categorical columns like ‚Äúmarital_cat‚Äù, ‚Äúrace_cat‚Äù etc. You can see the top 6 lines of the dataframe using adult_df_rev.head()

By printing the adult_df_rev.head() result. You will be able to see that all the columns should be reindexed. They are not in proper order. For reindexing the columns, you can use the code snippet provided below:

In [86]:
adult_df_rev = adult_df_rev.reindex_axis(['age', 'workclass_cat', 'fnlwgt', 'education_cat',
                                        'education_num', 'marital_cat', 'occupation_cat',
                                        'relationship_cat', 'race_cat', 'sex_cat', 'capital_gain',
                                        'capital_loss', 'hours_per_week', 'native_country_cat', 
                                        'income'], axis= 1)
 
adult_df_rev.head(1)

,age,workclass_cat,fnlwgt,education_cat,education_num,marital_cat,occupation_cat,relationship_cat,race_cat,sex_cat,capital_gain,capital_loss,hours_per_week,native_country_cat,income
0,39,6,77516,9,13,4,0,1,4,1,2174,0,40,38,<=50K

The output to the above code snippet will show you that all the columns are reindexed properly. I have passed the list of column names as a parameter and axis=1 for reindexing the columns.

### <span style="color: blue">Standardization of Data</span>
All the data values of our dataframe are numeric. Now, we need to convert them on a single scale. We can standardize the values.  We can use the below formula for standardization.

<img style="width:150px;" src="http://s0.wp.com/latex.php?latex=%7Bx%7D_i+%3D+%5Cfrac%7B%7Bx%7D_i+-+mean%28x%29%7D+%7B%5Csigma%28x%29%7D&bg=ffffff&fg=000&s=0" />

In [87]:
#Standardization of Data

num_features = ['age', 'workclass_cat', 'fnlwgt', 'education_cat', 'education_num',
                'marital_cat', 'occupation_cat', 'relationship_cat', 'race_cat',
                'sex_cat', 'capital_gain', 'capital_loss', 'hours_per_week',
                'native_country_cat']

scaled_features = {}
for each in num_features:
    mean, std = adult_df_rev[each].mean(), adult_df_rev[each].std()
    scaled_features[each] = [mean, std]
    adult_df_rev.loc[:, each] = (adult_df_rev[each] - mean)/std

We have converted our data values into standardized values. You can print and check the output of dataframe.

### <span style="color: blue">Data Splicing</span>
Let‚Äôs split the dataset into training and test set. We can easily perform this step using sklearn‚Äôs train_test_split() method.

In [88]:
features = adult_df_rev.values[:,:14]
target = adult_df_rev.values[:,14]
features_train, features_test, target_train, target_test = train_test_split(features, target, test_size = 0.33, random_state = 10)

Using above code snippet, we have divided the data into features and target set. The feature set consists of 14 columns i.e, predictor variables and target set consists of 1 column with class values.

The features_train & target_train consists of training data and the features_test & target_test consists of testing data.

### <span style="color: blue">Gaussian Naive Bayes Implementation</span>
After completing the data preprocessing. it‚Äôs time to implement machine learning algorithm on it. We are going to use sklearn‚Äôs GaussianNB module.

In [89]:
clf = GaussianNB()
clf.fit(features_train, target_train)
target_pred = clf.predict(features_test)

We have built a GaussianNB classifier. The classifier is trained using training data. We can use fit() method for training it. After building a classifier, our model is ready to make predictions. We can use predict() method with test set features as its parameters.

### <span style="color: blue">Accuracy of our Gaussian Naive Bayes model</span>
It‚Äôs time to test the quality of our model. We have made some predictions. Let‚Äôs compare the model‚Äôs prediction with actual target values for the test set. By following this method, we are going to calculate the accuracy of our model.

In [90]:
accuracy_score(target_test, target_pred, normalize = True)

0.80141447980643965

Awesome! Our model is returning an <b>accuracy of ~80%</b>.

This is not bad with a simple implementation, and could easily be made more effective.

You can create random test datasets and test the model to get know how well the trained Gaussian Naive Bayes model is performing.

### <span style="color:ForestGreen;padding-left:200px;">Continue to Lesson 11a</span>