<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Durham_College_logo.svg/1200px-Durham_College_logo.svg.png" alt="DC Logo" style="width: 450px;float:left;"/>

# LESSON 4 - Datasets & DataFrames
## OVERVIEW
**Background:** For this boot camp, we will be using a Jupyter Notebook to        scrape data from data-sets into data-frames using the ‘pandas’ library. Data scraping is about obtaining data from webpages or other data-sets. There is low level scraping where you parse the data out of the HTML code of a webpage. You can also scrape data from the APIs of certain websites as well as pre-compiled datasets.

**Reminders:**
-	Make use of short-cuts, like tab completion
-	Make use of Google; Resources can help you turn snippets into fully             functional code
-	Make variable names meaningful!!!
    - (a = b * c) can be harder to interpret when contextual errors arise
    - Using contextually relevant variable names can make it easier for               others to jump in and contribute to, or analyze your code when you               get stuck. 
- **Comment your code for clear logic!**


## Launch Jupyter Notebook
1.	Launch ‘Jupyter Notebook’ using the shortcut you created in Lesson 1
2.	Navigate to your Lesson 4 folder
3.	Select & Duplicate the ‘Lesson4-Reference.ipynb’ file
    - *You will be tinkering – things might break – it’s a backup*
4.	Open the new duplicate file & Rename it: **‘scraping-intro’**

**Note:** Try your best to answer any questions in bold, other questions are for speculation and should help guide you to understand each portion of the lesson.

# SECTION 1
### Import the Required Libraries
-	Run the import snippet to ensure there are no errors
-	Make note of the libraries being imported, and the namespaces used
-	References for each library can be found in the **Code-Reference.gdoc**
-   References for common word-choice and phrasing are in the **Lexicon.gdoc**
-   *These documents are in development (Google is your friend…)*

In [2]:

from IPython.display import HTML
import re # regular expressions

## IMPORT NUMPY
import numpy as np

## IMPORT PANDAS
from pandas import Series
import pandas as pd
from pandas import DataFrame

# SECTION 2
### Read the User Data

-	Pandas has a function to read csv files and turn them into tables
    - These tables are called DataFrames
    -   *What happens if you change the column name?*
    -   *What happens if you change the separator type?*
-   ***Alter the 'users.head()' code below to return more than 5 users data at a time.***

In [3]:
# Pass in column names for each CSV column
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']

# Convert data from CSV into a DataFrame called 'users'
users = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.user', 
    sep='|', names=u_cols)

# Change the amount of data returned by the .head() function
# By default it returns the first 5 rows of data in the specified dataframe
users.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

# SECTION 3
### Read the Movie Ratings

In [4]:
# Pass in column names for each CSV column
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']

# Convert data from CSV into a DataFrame called 'ratings'
ratings = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.data', 
    sep='\t', names=r_cols)

# Return the first 5 rows of data
ratings.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

# SECTION 4
### Read the Movie Information

In [5]:
# The movies file contains columns indicating the movie's genres
# let's only load the first five columns of the file with usecols
m_cols = ['movie_id', 'title', 'release_date', 
            'video_release_date', 'imdb_url']

# Convert data from CSV into a DataFrame called 'movies'
movies = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.item', 
    sep='|', names=m_cols, usecols=range(5), encoding = "ISO-8859-1")

# Return the first 5 rows of data
movies.head()

,movie_id,title,release_date,video_release_date,imdb_url
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995)

# SECTION 5
### Get Information About the Movie Data

In [6]:
# Why only these two columns?
print(movies.dtypes)
print(movies.describe())

movie_id                int64
title                  object
release_date           object
video_release_date    float64
imdb_url               object
dtype: object
          movie_id  video_release_date
count  1682.000000                 0.0
mean    841.500000                 NaN
std     485.695893                 NaN
min       1.000000                 NaN
25%     421.250000                 NaN
50%     841.500000                 NaN
75%    1261.750000                 NaN
max    1682.000000                 NaN

# SECTION 6
### Selecting Data

In [7]:

# DataFrame => group of Series with shared index
# single DataFrame column => Series

users.head()
users['occupation'].head()

## *** Where did the nice design go? ***
columns_you_want = ['occupation', 'sex'] 
print(users[columns_you_want].head())

print(users.head())

print(users.iloc[3])

   occupation sex
0  technician   M
1       other   F
2      writer   M
3  technician   M
4       other   F
   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213
user_id                4
age                   24
sex                    M
occupation    technician
zip_code           43537
Name: 3, dtype: object

# SECTION 7
### Filtering Data

In [8]:

# select users older than 25
oldUsers = users[users.age > 25]
oldUsers.head()

   user_id  age sex     occupation zip_code
1        2   53   F          other    94043
4        5   33   F          other    15213
5        6   42   M      executive    98101
6        7   57   M  administrator    91344
7        8   36   M  administrator    05201

# SECTION 8
### Overview Quiz 1

#### Part 1

In [9]:

# show users aged 40 AND male
users[(users.age == 40) & (users.sex == 'M')].head(3)

     user_id  age sex  occupation zip_code
18        19   40   M   librarian    02138
82        83   40   M       other    44133
115      116   40   M  healthcare    97232

#### Part 2

In [10]:

## show users who are female and programmers
selected_users = users[(users.sex == 'F') & 
                       (users.occupation == 'programmer')]

## show statistic summary
print(selected_users.describe())

## alternatives:
# display as a mean age of all female programmers
print(selected_users.age.mean())
print(selected_users['age'].mean())

          user_id        age
count    6.000000   6.000000
mean   411.166667  32.166667
std    149.987222   5.115336
min    292.000000  26.000000
25%    313.000000  28.250000
50%    378.000000  32.000000
75%    416.750000  36.500000
max    698.000000  38.000000
32.166666666666664
32.166666666666664

# SECTION 9
### SPLIT-APPLY-COMBINE

In [11]:

print(ratings.head())

## split data into groups
grouped_data = ratings.groupby('user_id')
grouped_data2 = ratings['movie_id'].groupby(ratings['user_id'])

## count & combine
ratings_per_user = grouped_data.count()
ratings_per_user2 = grouped_data2.count()

ratings_per_user.head(5)
ratings_per_user2.head(5)
ratings['user_id'].head(5)

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

0    196
1    186
2     22
3    244
4    166
Name: user_id, dtype: int64

# SECTION 10
### Overview Quiz 2
#### Part 1

In [12]:

## split data
grouped_data = ratings['rating'].groupby(ratings['movie_id'])

## average and combine
average_ratings = grouped_data.mean()
print("Average ratings:")
print(average_ratings.head())

Average ratings:
movie_id
1    3.878319
2    3.206107
3    3.033333
4    3.550239
5    3.302326
Name: rating, dtype: float64

#### Part 2

In [13]:


maximum_rating = average_ratings.max()
good_movie_ids = average_ratings[average_ratings == maximum_rating].index

print("Good movie IDs:")
print(good_movie_ids)
print

print("Best movie titles")
print(movies[movies.movie_id.isin(good_movie_ids)].title)
print

Good movie IDs:
Int64Index([814, 1122, 1189, 1201, 1293, 1467, 1500, 1536, 1599, 1653], dtype='int64', name='movie_id')
Best movie titles
813                         Great Day in Harlem, A (1994)
1121                       They Made Me a Criminal (1939)
1188                                   Prefontaine (1997)
1200           Marlene Dietrich: Shadow and Light (1996)
1292                                      Star Kid (1997)
1466                 Saint of Fort Washington, The (1993)
1499                            Santa with Muscles (1996)
1535                                 Aiqing wansui (1994)
1598                        Someone Else's America (1995)
1652    Entertaining Angels: The Dorothy Day Story (1996)
Name: title, dtype: object

#### Part 3

In [14]:

how_many_ratings = grouped_data.count()
print("Number of ratings per movie")
print(how_many_ratings[average_ratings == maximum_rating])

Number of ratings per movie
movie_id
814     1
1122    1
1189    3
1201    1
1293    3
1467    2
1500    2
1536    1
1599    1
1653    1
Name: rating, dtype: int64

# SECTION 11
### Passing a Function

In [15]:

average_ratings = grouped_data.apply(lambda f: f.mean())

average_ratings.head()

movie_id
1    3.878319
2    3.206107
3    3.033333
4    3.550239
5    3.302326
Name: rating, dtype: float64

# SECTION 12
### Overview Quiz 3
#### Part 1

In [16]:

# get the average rating per user
grouped_data = ratings['rating'].groupby(ratings['user_id'])
average_ratings = grouped_data.mean()

average_ratings.head(10)

user_id
1     3.610294
2     3.709677
3     2.796296
4     4.333333
5     2.874286
6     3.635071
7     3.965261
8     3.796610
9     4.272727
10    4.206522
Name: rating, dtype: float64

#### Part 2

In [17]:

# list all occupations and if they are male or female dominant
grouped_data = users['sex'].groupby(users['occupation'])
male_dominant_occupations = grouped_data.apply(lambda f: 
                                               sum(f == 'M') > sum(f == 'F'))
print(male_dominant_occupations)

occupation
administrator     True
artist            True
doctor            True
educator          True
engineer          True
entertainment     True
executive         True
healthcare       False
homemaker        False
lawyer            True
librarian        False
marketing         True
none              True
other             True
programmer        True
retired           True
salesman          True
scientist         True
student           True
technician        True
writer            True
Name: sex, dtype: bool

#### Part 3

In [18]:

print('number of male users: ')
print(sum(users['sex'] == 'M'))

print('number of female users: ')
print(sum(users['sex'] == 'F'))

number of male users:
670
number of female users:
273

# SECTION 13
### pandas Wrap-Up
##### HAVE SOME FUN HERE, TEST YOUR UNDERSTANDING

In [19]:

# Create a data frame

# Get a sub-frame

# Filter data

# Use group-by

# Apply a user defined function

In [20]:
# Line Magic Keywords
%lsmagic

Available line magics:
%alias  %alias_magic  %autocall  %automagic  %autosave  %bookmark  %cd  %clear  %cls  %colors  %config  %connect_info  %copy  %ddir  %debug  %dhist  %dirs  %doctest_mode  %echo  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %macro  %magic  %matplotlib  %mkdir  %more  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %popd  %pprint  %precision  %profile  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %ren  %rep  %rerun  %reset  %reset_selective  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%cmd  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.