<img style="width:450px;" src="https://durhamcollege.ca/wp-content/uploads/ai-hub-header.jpg" alt="DC Logo"/>

# LESSON 10a - Gaussian Naive Bayes & Pre-Processing

## <span style="color: green">OVERVIEW</span>

- ref.: http://dataaspirant.com/2017/02/20/gaussian-naive-bayes-classifier-implementation-python/
- data: https://archive.ics.uci.edu/ml/datasets/Adult

<b>We have provided the data for you so there is no need to download it!</b>

<hr />

>**Section 1:** <a href="#Conditional-Probability-Examples">Conditional Probability Examples</a>

>**Section 2:** <a href="#Gaussian-Naive-Bayes">Gaussian Naive Bayes</a>

>**Section 3:** <a href="#Census-Income-Dataset">Census Income Dataset</a>

>**Section 4:** <a href="#Data-Dictionary">Data Dictionary</a>

>**Section 5:** <a href="#Import-Required-Libraries">Import Required Libraries</a>

>**Section 6:** <a href="#Import-Data">Import Data</a>

>**Section 7:** <a href="#Handling-Missing-Data">Handling Missing Data</a>

<hr />

In this post, we are going to implement the Naive Bayes classifier in Python using the machine learning library scikit-learn. After which, we are going to use the trained Naive Bayes (supervised classification), model to predict the Income bracket of people based on our classifier.

Let's quickly go over the basics of Naive Bayes:

Bayes’ theorem is based on <b>conditional probability</b>. The conditional probability helps us calculating the probability that something will happen, given that something else has already happened. Not getting let’s understand with few examples.

<hr />

### <span style="color:#27ae60">Conditional Probability Examples</span>

Below are the few examples helps to clearly understand the definition of conditional probability.

- Purchasing mac book when you already purchased the iPhone.
- Having a refreshing drink when you are in the movie theater.
- Buying peanuts when you brought a chilled soft drink.

<img style="width:350px;" src="https://i2.wp.com/dataaspirant.com/wp-content/uploads/2017/02/Conditional_probability.jpg?w=500" alt="Conditional Probability" />

Using the Bayes theorem the naive Bayes classifier assumes all the features are independent to each other. Even if the features depend on each other or upon the existence of the other features.

The naive Bayes classifier considers all of these properties to independently contribute to the probability that a user will buy a MacBook.

To learn the key concepts related to Naive Bayes. You can read our article on Introduction to Naive Bayes. This will help you understand the core concepts related to Naive Bayes.

In the introduction to Naive Bayes post

(https://dataaspirant.com/2017/02/06/naive-bayes-classifier-machine-learning/)

Three popular Naive Bayes algorithms are covered:

- Gaussian Naive Bayes,
- Multinomial Naive Bayes.
- Bernoulli Naive Bayes.
As a continues to the Naive Bayes algorithm article. Now we are going to implement Gaussian Naive Bayes on a “Census Income” dataset.

### <span style="color:#27ae60">Gaussian Naive Bayes</span>
A Gaussian Naive Bayes algorithm is a special type of NB algorithm. It’s specifically used when the features have continuous values. It’s also assumed that all the features are following a gaussian distribution i.e, normal distribution.

### <span style="color:#27ae60">Census Income Dataset</span>
The Census Income dataset is used to predict whether the income of a person is either: 
><p>&gt;\$50K/yr (greater than \$50K/yr)</p>
><p>or</p>
><p>&lt;=\$50K/yr (less than or equal to \$50K/yr)</p>

<i>The data was collected by Barry Becker from 1994 Census dataset.</i>

This dataset was contributed to a UCI repository, and It’s openly available at the link provided at the top of this lesson. The dataset consists of 15 columns of a mix of discrete as well as continuous data.

### <span style="color:#27ae60">Data Dictionary</span>
#### <span style="color: ForestGreen">Please ensure that you understand the data fully before continuing the lesson.</span>

<table style="height: 296px; width: 602px; border-color: #000000; background-color: #ffffff;" border="1 px">
<tbody>
<tr style="height: 24px;">
<td style="width: 37px; height: 24px; text-align: center;"></td>
<td style="width: 146px; height: 24px; text-align: center;"><strong>Variable Name</strong></td>
<td style="width: 425px; height: 24px; text-align: center;"><strong>Variable Range</strong></td>
</tr>
<tr style="height: 29px;">
<td style="width: 37px; height: 29px; text-align: center;">1.</td>
<td style="width: 146px; height: 29px; text-align: center;">age</td>
<td style="width: 425px; height: 29px;">&nbsp;[17 – 90]</td>
</tr>
<tr style="height: 87px;">
<td style="width: 37px; height: 87px; text-align: center;">2.</td>
<td style="width: 146px; height: 87px; text-align: center;">workclass</td>
<td style="width: 425px; height: 87px;">[‘State-gov’, ‘Self-emp-not-inc’, ‘Private’, ‘Federal-gov’, ‘Local-gov’, ‘Self-emp-inc’, ‘Without-pay’, ‘Never-worked’]</td>
</tr>
<tr style="height: 30px;">
<td style="width: 37px; height: 30px; text-align: center;">3.</td>
<td style="width: 146px; height: 30px; text-align: center;">fnlwgt</td>
<td style="width: 425px; height: 30px;">[77516- 257302]</td>
</tr>
<tr style="height: 12px;">
<td style="width: 37px; height: 12px; text-align: center;">4.</td>
<td style="width: 146px; height: 12px; text-align: center;">education</td>
<td style="width: 425px; height: 12px;">
<p class="">[‘Bachelors’, ‘HS-grad’, ’11th’, ‘Masters’, ‘9th’, ‘Some-college’, ‘Assoc-acdm’, ‘Assoc-voc’, ‘7th-8th’, ‘Doctorate’, ‘Prof-school’, ‘5th-6th’, ’10th’, ‘1st-4th’, ‘Preschool’, ’12th’]</p>
</td>
</tr>
<tr style="height: 31px;">
<td style="width: 37px; height: 31px; text-align: center;">5.</td>
<td style="width: 146px; height: 31px; text-align: center;">education_num</td>
<td style="width: 425px; height: 31px;">[1 – 16]</td>
</tr>
<tr style="height: 24px;">
<td style="width: 37px; height: 24px; text-align: center;">6.</td>
<td style="width: 146px; height: 24px; text-align: center;">marital_status</td>
<td style="width: 425px; height: 24px;">
<p class="">[‘Never-married’, ‘Married-civ-spouse’, ‘Divorced’, ‘Married-spouse-absent’, ‘Separated’, ‘Married-AF-spouse’, ‘Widowed’]</p>
</td>
</tr>
<tr style="height: 24px;">
<td style="width: 37px; height: 24px; text-align: center;">7.</td>
<td style="width: 146px; height: 24px; text-align: center;">occupation</td>
<td style="width: 425px; height: 24px;">
<p class="">[‘Adm-clerical’, ‘Exec-managerial’, ‘Handlers-cleaners’, ‘Prof-specialty’, ‘Other-service’, ‘Sales’, ‘Craft-repair’, ‘Transport-moving’, ‘Farming-fishing’, ‘Machine-op-inspct’, ‘Tech-support’, ‘Protective-serv’, ‘Armed-Forces’, ‘Priv-house-serv’]</p>
</td>
</tr>
<tr style="height: 24px;">
<td style="width: 37px; height: 24px; text-align: center;">8.</td>
<td style="width: 146px; height: 24px; text-align: center;">relationship</td>
<td style="width: 425px; height: 24px;">
<p class="">[‘Not-in-family’, ‘Husband’, ‘Wife’, ‘Own-child’, ‘Unmarried’, ‘Other-relative’]</p>
</td>
</tr>
<tr style="height: 24px;">
<td style="width: 37px; height: 24px; text-align: center;">9.</td>
<td style="width: 146px; height: 24px; text-align: center;">race</td>
<td style="width: 425px; height: 24px;">
<p class="">[‘White’, ‘Black’, ‘Asian-Pac-Islander’, ‘Amer-Indian-Eskimo’, ‘Other’]</p>
</td>
</tr>
<tr style="height: 24px;">
<td style="width: 37px; height: 24px; text-align: center;">10.</td>
<td style="width: 146px; height: 24px; text-align: center;">sex</td>
<td style="width: 425px; height: 24px;">
<p class="">[‘Male’, ‘Female’]</p>
</td>
</tr>
<tr style="height: 29px;">
<td style="width: 37px; height: 29px; text-align: center;">11.</td>
<td style="width: 146px; height: 29px; text-align: center;">capital_gain</td>
<td style="width: 425px; height: 29px;">[0 – 99999]</td>
</tr>
<tr style="height: 28px;">
<td style="width: 37px; height: 28px; text-align: center;">12.</td>
<td style="width: 146px; height: 28px; text-align: center;">capital_loss</td>
<td style="width: 425px; height: 28px;">[0 –&nbsp;4356]</td>
</tr>
<tr style="height: 28px;">
<td style="width: 37px; height: 28px; text-align: center;">13.</td>
<td style="width: 146px; height: 28px; text-align: center;">hours_per_week</td>
<td style="width: 425px; height: 28px;">[1 – 99]</td>
</tr>
<tr style="height: 24px;">
<td style="width: 37px; height: 24px; text-align: center;">14.</td>
<td style="width: 146px; height: 24px; text-align: center;">native_country</td>
<td style="width: 425px; height: 24px;">
<p class="">[‘United-States’, ‘Cuba’, ‘Jamaica’, ‘India’, ‘Mexico’, ‘South’, ‘Puerto-Rico’, ‘Honduras’, ‘England’, ‘Canada’, ‘Germany’, ‘Iran’, ‘Philippines’, ‘Italy’, ‘Poland’, ‘Columbia’, ‘Cambodia’, ‘Thailand’, ‘Ecuador’, ‘Laos’, ‘Taiwan’, ‘Haiti’, ‘Portugal’, ‘Dominican-Republic’, ‘El-Salvador’, ‘France’, ‘Guatemala’, ‘China’, ‘Japan’, ‘Yugoslavia’, ‘Peru’, ‘Outlying-US(Guam-USVI-etc)’, ‘Scotland’, ‘Trinadad&amp;Tobago’, ‘Greece’, ‘Nicaragua’, ‘Vietnam’, ‘Hong’, ‘Ireland’, ‘Hungary’, ‘Holand-Netherlands’]</p>
</td>
</tr>
<tr style="height: 13.5938px;">
<td style="width: 37px; height: 13.5938px; text-align: center;">15.</td>
<td style="width: 146px; height: 13.5938px; text-align: center;">income</td>
<td style="width: 425px; height: 13.5938px;">
<p class="">&nbsp;[‘&lt;=50K’, ‘&gt;50K’]</p>
</td>
</tr>
</tbody>
</table>

><b>The final target variable consists of two values: ‘&gt;=50K' &amp; ‘>50K’.</b>

>*This is the variable we are trying to predict based on the others.*


<hr />

### <span style="color:#27ae60">Import Required Libraries</span>

We need to import pandas, numpy and sklearn libraries.

The <b>train_test_split</b> module is for splitting the dataset into training and testing set.

The <b>accuracy_score</b> module will be used for calculating the accuracy of our Gaussian Naive Bayes algorithm.

From sklearn, we need to import preprocessing modules like **Imputer**. The Imputer package helps to impute the missing values that cannot be processed.

In [26]:
# Required Python Machine learning Packages
import pandas as pd
import numpy as np

# For preprocessing the data
from sklearn.preprocessing import Imputer
from sklearn import preprocessing

# To split the dataset into train and test datasets
from sklearn.model_selection import train_test_split

# To model the Gaussian Navie Bayes classifier
from sklearn.naive_bayes import GaussianNB

# To calculate the accuracy score of the model
from sklearn.metrics import accuracy_score


<hr />

<img style="width:375px;" src="http://s2.quickmeme.com/img/a7/a78187c76f9d27752fe5494e00c269095000e643328edfe59dfba42047276d7b.jpg" />

### <span style="color:#27ae60">Import Data</span>
For importing the census data, we are using pandas <b>read_csv()</b> method. This method is a very simple and fast method for importing data.

We are passing four parameters. 

The **filename parameter** value is clearly *'adult.data'*. 

The **header parameter** is for giving details to pandas regarding whether the first row of data consists of headers or not. In our dataset, there is no header. So, we are passing *'None'*.

The **delimiter parameter** is for giving the information the delimiter that is separating the data. Here, we are using the *Comma delimiter ( , )*. This delimiter is to show delete the spaces before and after the data values. 

The **engine parameter** is for ensuring the pandas read_csv method knows how to read the language used; Which is why we entered *'python'*, as it is the language we are working in.

This is very helpful when there is inconsistency in spaces used with data values.

In [27]:
# Load the Dataset into a Dataframe
adult_df = pd.read_csv('adult.data.txt', header = None, delimiter=',', engine='python')

# View the shape of the dataframe to understand and verify the size of the dataset
adult_df.shape

(32561, 15)

<hr />

Let’s add headers to our dataframe. The below code snippet can be used to perform this task.

In [37]:
# Adding Headers
adult_df.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education_num',
                    'marital_status', 'occupation', 'relationship',
                    'race', 'sex', 'capital_gain', 'capital_loss',
                    'hours_per_week', 'native_country', 'income']

adult_df.head(50)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
30,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
31,20,Private,266015,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States,<=50K
32,45,Private,386940,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Male,0,1408,40,United-States,<=50K
33,30,Federal-gov,59951,Some-college,10,Married-civ-spouse,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
34,22,State-gov,311512,Some-college,10,Married-civ-spouse,Other-service,Husband,Black,Male,0,0,15,United-States,<=50K
35,48,Private,242406,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,Puerto-Rico,<=50K
36,21,Private,197200,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
37,19,Private,544091,HS-grad,9,Married-AF-spouse,Adm-clerical,Wife,White,Female,0,0,25,United-States,<=50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K
39,48,Self-emp-not-inc,265477,Assoc-acdm,12,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
40,31,Private,507875,9th,5,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,43,United-States,<=50K
41,53,Self-emp-not-inc,88506,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
42,24,Private,172987,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,50,United-States,<=50K
43,49,Private,94638,HS-grad,9,Separated,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
44,25,Private,289980,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,35,United-States,<=50K
45,57,Federal-gov,337895,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,40,United-States,>50K
46,53,Private,144361,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,38,United-States,<=50K
47,44,Private,128354,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K
48,41,State-gov,101603,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
49,29,Private,271466,Assoc-voc,11,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,United-States,<=50K

<hr />

### <span style="color:#27ae60">Handling Missing Data</span>
Let’s try to test whether there is any null value in our dataset or not. 
>We can do this using the isnull() method

>In combination with the sum() method

In [29]:
# Find the Null values in the dataframe and sum them
adult_df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

*The above output should show that there is no “null” value in our dataset.*

<hr />

Let’s try to test whether any categorical attribute contains a “?” in it or not. At times there exists “?” or ” ” in place of missing values. Using the below code snippet we are going to test whether our adult_df dataframe consists of categorical variables with values equal to “?”.

In [44]:
for value in ['workclass', 'education', 'marital_status', 'occupation', 
              'relationship','race', 'sex', 'native_country', 'income']:
    print(value, ":", sum(adult_df[value] == "?"))

workclass : 0
education : 0
marital_status : 0
occupation : 0
relationship : 0
race : 0
sex : 0
native_country : 0
income : 0


<hr />

The output of the above code snippet shows that there are 1836 missing values in workclass attribute. 1843 missing values in occupation attribute and 583 values in native_country attribute.

<hr />

### <span style="color:ForestGreen;padding-left:200px;">Continue Pre-Processing your Data in Lesson 10b</span>